/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/
/*	



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* Defaul tNav   ----------------------------------------------------*/nav #comboNav {
  display: none;
}
nav #nav {
  display: block;
}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* TABLET WRAPPER ----------------------------------------------------*/.wrapper {
    width: 768px;
  }
  .line-heading {
    margin: 0px 28px 30px 28px;
  }
  .page-content {
    margin-left: 24px;
    margin-right: 24px;
  }
  /* TABLET LAYOUTS ----------------------------------------------------*/.one-third-col {
    float: left;
    margin-left: 28px;
    width: 221px;
  }
  .two-third-col {
    margin-right: 28px;
    margin-bottom: 60px;
    width: 466px;
  }
  /* TABLET HEADER ----------------------------------------------------*/header #logo img {
    margin: 0 0 0 28px;
  }
  /* TABLET SOCIAL ----------------------------------------------------*/#social-bar {
    margin-right: 28px;
  }
  /* TABLET NAV ----------------------------------------------------*/nav {
    width: 100%;
    margin-left: 0px;
    font-size: 14px;
  }
  nav #nav {
    margin-left: 18px;
    /* substract 10 from the link padding */
  
  }
  nav #nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* TABLET SLIDER ----------------------------------------------------*/
  .slider-wrapper {
    margin: 30px auto 0px auto;
    width: 702px;
  }
  /* TABLET FEATURED AND WORK LIST ----------------------------------------------------*/.feature,
  .work-list {
    margin-left: 4px;
  }
  .feature li,
  .work-list li {
    margin-left: 24px;
    width: 221px;
  }
  .nav-categories {
    margin: 20px 28px 20px 28px;
  }
  /* TABLET PAGER ----------------------------------------------------*/.pager {
    margin: 0px 28px 60px 28px;
  }
  /* TABLET PROJECT  ----------------------------------------------------*/#project-gallery {
    width: 420px;
    margin-left: 28px;
  }
  #project-info {
    margin-right: 28px;
  }
  .related-projects {
    margin-left: 28px;
    margin-right: 28px;
  }
  .related-projects .related-list li {
    width: 221px;
  }
  /* TABLET BLOG ----------------------------------------------------*/#posts-list {
    margin-left: 28px;
    width: 420px;
  }
  /* TABLET FORMS ----------------------------------------------------*/#commentform input,
  #commentform textarea {
    width: 390px;
  }
  /* input form widths */
  .wpcf7-form input,
  #contactForm input,
  .wpcf7-form textarea,
  #contactForm textarea {
    width: 450px;
  }
  /* TABLET WIDGETS  ----------------------------------------------------*/.widget-cols {
    padding-left: 4px;
  }
  .widget-cols > li {
    width: 160px;
    margin-left: 24px;
  }
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  /* MOBILE GENERAL ----------------------------------------------------*/body {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  #main .tagline {
    font-size: 21px;
  }
  .line-heading {
    margin: 0px 34px 30px 34px;
    font-size: 14px;
  }
  .wrapper {
    width: 320px;
  }
  .page-content {
    margin-left: 34px;
    margin-right: 34px;
  }
  /* MOBILE LAYOUTS ----------------------------------------------------*/.one-third-col {
    margin-left: 34px;
    width: 252px;
  }
         #logo {
           width: auto;
           height: auto;
         }
  .two-third-col {
    margin-right: 34px;
    margin-bottom: 60px;
    width: 252px;
  }
  /* MOBILE HEADER ----------------------------------------------------*/header #logo {
    float: none;
    width: 252px;
    margin: 30px auto;
  }
  header #logo img {
    width: 100%;
    margin: 0px;
  }
  /* MOBILE NAV ----------------------------------------------------*/nav {
    width: 100%;
    margin-left: 0px;
    font-size: 14px;
  }
  nav #nav {
    display: none;
  }
  nav #comboNav {
    display: block;
    width: 252px;
    margin-left: 34px;
    margin-top: 23px;
  }
  /* MOBILE SOCIAL ----------------------------------------------------*/
  #social-bar {
    float: none;
    width: 252px;
    margin: 0 auto 30px auto;
  }
  /* MOBILE SLIDER ----------------------------------------------------*/
  .slider-wrapper {
    margin: 30px auto 0px auto;
    width: 252px;
  }
  /* MOBILE FEATURE AND WORK LIST ----------------------------------------------------*/.feature,
  .work-list {
    margin-left: 0px;
  }
  .feature li,
  .work-list li {
    margin-left: 34px;
    width: 252px;
  }
  .feature li .title,
  .work-list li .title {
    font-size: 18px;
  }
  .feature li .excerpt,
  .work-list li .excerpt {
    font-size: 14px;
  }
  .nav-categories {
    margin: 20px 34px 20px 34px;
  }
  /* MOBILE PAGER ----------------------------------------------------*/.pager {
    margin: 0px 34px 60px 34px;
  }
  /* MOBILE PROJECT  ----------------------------------------------------*/#project-gallery {
    width: 252px;
    margin-left: 34px;
  }
  #project-info {
    margin-right: 34px;
  }
  .related-projects {
    margin-left: 34px;
    margin-right: 34px;
  }
  .related-projects .related-list li {
    width: 252px;
    margin-right: 0px;
  }
  /* MOBILE BLOG ----------------------------------------------------*/#posts-list {
    width: 252px;
  }
  /* MOBILE FORMS ----------------------------------------------------*/.wpcf7-form input,
  #contactForm input,
  .wpcf7-form textarea,
  #contactForm textarea,
  #commentform input,
  #commentform textarea {
    width: 222px;
  }
  /* MOBILE PAGINATION ----------------------------------------------------*/#posts-list .page-navigation {
    /* Remove the invisible right margin */
  
    left: auto;
  }
  #posts-list .page-navigation div {
    right: auto;
  }
  /* MOBILE COMMENTS ----------------------------------------------------*/#comments-wrap .commentlist .comment .comment-body {
    overflow: hidden;
  }
  #comments-wrap .commentlist .comment .comment-body p {
    margin-bottom: 20px;
  }
  #comments-wrap .commentlist .comment .reply {
    position: static;
    float: left;
    margin-bottom: 0px;
  }
  #comments-wrap .commentlist .comment .children {
    margin-left: 0px;
  }
  /* MOBILE COLUMNS ----------------------------------------------------*/.entry-content .one-half,
  .entry-content .one-third,
  .entry-content .one-fourth {
    width: auto;
    margin-right: 0px;
  }
  /* MOBILE WIDGETS ----------------------------------------------------*/.widget-cols {
    padding-left: 0px;
    padding-bottom: 40px;
  }
  .widget-cols > li {
    width: 252px;
    margin-left: 34px;
    margin-bottom: 0px;
  }
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* WIDE MOBLE GENERAL ----------------------------------------------------*/.wrapper {
    width: 480px;
  }
  .line-heading {
    margin: 0px 22px 30px 22px;
    font-size: 14px;
  }
  .page-content {
    margin-left: 22px;
    margin-right: 22px;
  }
  /* WIDE MOBILE LAYOUTS ----------------------------------------------------*/.one-third-col {
    margin-left: 24px;
    width: 436px;
  }
  .two-third-col {
    margin-right: 24px;
    width: 436px;
  }
  /* WIDE MOBILE HEADER ----------------------------------------------------*/header #logo {
    float: none;
    width: 252px;
  }
  /* WIDE MOBILE NAV ----------------------------------------------------*/nav #nav {
    display: none;
  }
  nav #comboNav {
    display: block;
    width: 436px;
    margin-left: 22px;
  }
  /* WIDE MOBILE SLIDER ----------------------------------------------------*/
  .slider-wrapper {
    width: 436px;
  }
  /* WIDE MOBILE FEATURE AND WORK LIST ----------------------------------------------------*/.feature li,
  .work-list li {
    margin-left: 22px;
    width: 206px;
  }
  .feature li .title,
  .work-list li .title {
    font-size: 18px;
  }
  .feature li .excerpt,
  .work-list li .excerpt {
    font-size: 14px;
  }
  .nav-categories {
    margin: 20px 22px 20px 22px;
  }
  /* WIDE MOBILE PAGER ----------------------------------------------------*/.pager {
    margin: 0px 22px 60px 22px;
  }
  /* WIDE MOBILE PROJECT  ----------------------------------------------------*/#project-gallery {
    width: 436px;
    margin-left: 20px;
  }
  #project-info {
    width: 436px;
    margin-right: 20px;
  }
  .related-projects {
    margin-left: 20px;
    margin-right: 20px;
  }
  .related-projects .related-list li {
    width: 209px;
    margin-right: 20px;
  }
  .related-projects .related-list li:nth-child(2n) {
    margin-right: 0px;
  }
  /* WIDE MOBILE BLOG ----------------------------------------------------*/#posts-list {
    margin-left: 22px;
    width: 436px;
  }
  /* MOBILE FORMS ----------------------------------------------------*/.wpcf7-form input,
  #contactForm input,
  .wpcf7-form textarea,
  #contactForm textarea,
  #commentform input,
  #commentform textarea {
    width: 406px;
  }
  /* WIDE MOBILE PAGINATION ----------------------------------------------------*/#posts-list .page-navigation {
    /* Return to normal the centered pagination */
  
    left: 50%;
  }
  #posts-list .page-navigation div {
    right: 50%;
  }
  /* WIDE MOBILE SIDEBAR  ----------------------------------------------------*/#sidebar {
    width: 436px;
    margin-right: 22px;
  }
  /* WIDE MOBILE WIDGETS ----------------------------------------------------*/.widget-cols {
    padding-left: 0px;
  }
  .widget-cols > li {
    width: 436px;
    margin-left: 22px;
  }
}
